node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz


.vercel
prompt_maestro_para_gemini.md
contexto_aws.md
contexto_ec2_ubuntu.md
contexto_iot.md
contexto_neon.md
contexto_vercel.md
diagnostico.md
KPCL_Pol1.txt
plan_de_accion.md
prompt_1.md
